<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




<!-- 	<bean id="connectionHSQL" class="web.database.ConnectionHSQL"> -->
<!-- 		<property name="dataSource" ref="dataSourceHSQL" /> -->
<!-- 	</bean> -->

	<bean id="fetchData" class="web.dao.server.fetchdata.FetchDataJDBCTemplate">
		<property name="dataSource" ref="dataSourceHSQL" />
	</bean>

</beans>