<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




	<!-- <bean id="connectionHSQL" class="web.database.ConnectionHSQL"> -->
	<!-- <property name="dataSource" ref="dataSourceHSQL" /> -->
	<!-- </bean> -->
	<bean id="login" class="web.dao.server.login.LoginJDBCTemplate">
		
	</bean>


	<bean id="loginSetup" class="web.dao.server.login.setup.LoginSetupJDBCTemplate">
		
	</bean>

	<bean id="createloginSetup"
		class="web.dao.server.createloginstep.CreateLoginStepJDBCTemplate">
		
	</bean>

	<bean id="createGroup" class="web.dao.server.creategroup.CreateGroupJDBCTemplate">
		
	</bean>

	<bean id="activeGroup" class="web.dao.server.activegroup.ActiveGroupJDBCTemplate">
		
	</bean>

	<bean id="runTestCase" class="web.dao.server.run.test.cases.RunTestCaseJDBCTemplate">
		
	</bean>


	<bean id="listboxdata" class="web.dao.server.listboxdata.ListBoxDataJDBCTemplate">
	</bean>
	
	<bean id="widgetsCollection" class="web.dao.server.widgets.collection.WidgetsCollectionJDBCTemplate">
	</bean>





</beans>