<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




	<!-- <bean id="connectionHSQL" class="web.database.ConnectionHSQL"> -->
	<!-- <property name="dataSource" ref="dataSourceHSQL" /> -->
	<!-- </bean> -->
	<bean id="login" class="web.dao.server.login.LoginJDBCTemplate">
		<property name="dataSource" ref="dataSourceHSQL" />
	</bean>

	<bean id="totalSalesReport" class="web.dao.server.total.sales.report.TotalSalesReportJDBCTemplate">
		<property name="dataSource" ref="dataSourceMSSQL" />
	</bean>
	
	<bean id="siteSalesReport" class="web.dao.server.site.sales.report.SiteSalesReportJDBCTemplate">
		<property name="dataSource" ref="dataSourceMSSQL" />
	</bean>
	
	<bean id="loginSetup" class="web.dao.server.login.setup.LoginSetupJDBCTemplate">
		<property name="dataSource" ref="dataSourceHSQL" />
	</bean>
	
	
	

</beans>